{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}


<div class="addItemForm">
    {{form_start (formulaire)}}
    <div>
        {{form_label (formulaire.nom, 'Nom')}} 
        {# { 'attr':{'class':'label'} } #}
    </div>
    <div>
        {{form_widget (formulaire.nom, { 'attr': {'class': 'input'}} )}}
    </div>
    <div>
        {{form_label (formulaire.image, 'Image')}}
    </div>
    <div>     
        {{form_widget (formulaire.image)}}
    </div>
    <div>
        {{form_label (formulaire.description, 'Description du produit')}}
    </div>
    <div>
        {{form_widget (formulaire.description, {'attr': {'type':'textaera'}}) }}
    </div>
    <div>
        {{form_label (formulaire.prix, 'Prix')}}
    </div>
    <div>    
        {{form_widget (formulaire.prix)}}
    </div>
    <div>
        {{form_label (formulaire.categories, 'Categories')}}
    </div>
    <div>    
        {{form_widget (formulaire.categories)}}
    </div>
    <div>
        {{form_label (formulaire.stock, 'En stock')}}
    </div>
    <div>    
        {{form_widget (formulaire.stock)}}
    </div>
    <br>
    <button type="submit">
        {% if mode %}
            Modifier la fiche du chat  
            {% else %} 
            Ajouter un chat
        {% endif %}
    </button>
    {{form_end (formulaire)}}

    
</div>
{% endblock %}