{% extends 'base.html.twig' %}

{% block title %}nos produits{% endblock %}

{% block body %}
    <div class="soloCard">
        <h2>{{produit.nom}}</h2>
        {# <p>{{produit.0.nom}}</p> #}
        {% for cat in produit.categories%}
            <p>{{cat.nom}}</p>
        {% endfor %}
        <img src="{{produit.image}}" alt="">
        <p>{{produit.description}}</p>
        <p class="price">{{produit.prix}} €</p>
        <button class="show"><a href="{{path('showitems')}}">Retour à la liste</a></button>
        <div class="button">
            <button class="update"><a href="{{path('modifProduit',{'id':produit.id})}}"><i class="fa-solid fa-pen-nib"></i></a></button>
            <button class="trash"><a href="{{path('supprimProduit',{'id':produit.id})}}"><i class="fa-regular fa-trash-can"></i></a></button>
        </div>
        <p>Ajouter le {{produit.createdAT | date('d/m/Y')}}</p>
    </div>
{% endblock %}